body {
 text-align: center;
  background-color: cadetblue;
  padding: 25px 50px 75px;
  margin: auto;
  
}

.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#introduction {
  font-size: large;

}

#introduction img {
  max-width: 50%;
  height: auto;
}

.background {
  text-align: justify;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.background h1 {
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;
}
.important{
  color: crimson;
  font-weight: bold;

}
ol{
  list-style-type: none;
}
footer {
  background-color: darkblue;
  font-size: large;
  font-style: italic;
  color: burlywood;
}
footer a{
  color: burlywood;
}