body{
    background-color: cadetblue;
}
#introduction {
    font-size: large;

}

.background {
    text-align: justify;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.background h1{
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
}